* {
    /* CORPL option dark */
    /* foreground:             #c5c8c6ff; */
    /* background:             #1d1f219f; */
    /* background-solid:       #1d1f21ff; */
    /* background-selected:    #0000007f; */
    /* CORPL option light */
    foreground:             #262c3fff;
    foreground-selected:    #262c3fff;
    background:             #bfd3ef9f;
    background-solid:       #bfd3efff;
    background-selected:    #1793D17f;
    /* CORPL end */
}
