* {
    /* CORPL option dark */
    bg-darker: #0b0b0c;
    bg-dark: #111314;
    bg-light: #1d1f21;
    bg-lighter: #2c2f33;

    bg-select: @bg-light;
  
    text-normal: #fffffa;
    text-color: #a2c6d8;
    /* CORPL option light */
    /* bg-darker: #6c747f; */
    /* bg-dark: #828b99; */
    /* bg-light: #e8eff2bf; */
    /* bg-lighter: #b7bdccbf; */

    /* bg-select: @bg-dark; */

    /* text-normal: #262c3f; */
    /* text-color: #6688cc; */
    /* CORPL end */
}
