# Rebind programs to easier/common names

alias s="sudo"
alias e="exit"
alias c="clear"
alias pacman="sudo pacman"
alias cp="cp -i"
alias mv="mv -i"
alias gc="git clone"
alias sctl="sudo systemctl"
alias sctlu="systemctl --user"

# Rust clones
alias ls="exa -la -s=Name --group-directories-first"
alias cat="bat"
alias grep="rg --hidden"
alias find="fd -H"


# Aliases for useful complicated commands I don't want to memorize

alias open="xdg-open"
alias audio-reset="puleaudio -k && sudo alsa force-reload && pulseaudio --start"
