.cache
.ccache
.gnupg
.icons
.local
.mozilla
.npm
.nv
.pki
.rustup
.ssh
.steam
.vscode-oss
.wine
Desktop
Downloads
Documents
fonts
Music
Pictures
Public
Templates
Videos
.histfile
.lesshst
.pulse-cookie
.python_history
.steampid
.Xauthority
.zcompdump
.cargo
.vpython*

.config/chromium
.config/BraveSoftware
.config/Electron
.config/pulse
.config/spotify-tui
.config/VSCodium
.config/dconf
.config/Thunar/accels.scm
.config/configstore
.config/cef_user_data
.config/xfce4
.config/mimeapps.list

Exclude-backup-archive.txt
.private
dev
GameData
nas
blender
