.cache
.ccache
.gnupg
.icons
.local
.mozilla
.npm
.nv
.pki
.rustup
.ssh
.steam
.vscode-oss
.wine
Desktop
Downloads
Documents
fonts
Music
Pictures
Public
Templates
Videos
.histfile
.lesshst
.pulse-cookie
.python_history
.steampid
.Xauthority
.zcompdump
.cargo
.vpython*
.thunderbird

.config/*
.config/systemd/user/*.wants
!.config/Thunar
.config/Thunar/*.scm
!.config/alacritty
!.config/dunst
!.config/fish
!.config/gtk-3.0
!.config/i3
!.config/neofetch
!.config/nitrogen
!.config/picom
!.config/polybar
!.config/rofi
!.config/spotifyd
!.config/systemd
!.config/gamemode.ini
!.config/starship.toml

Exclude-backup-archive.txt
.private
dev
GameData
nas
blender
