snippet l "HTML link"
<a href="$2">$1</a>$0
endsnippet

snippet i "italics"
<i>$1</i>$0
endsnippet
snippet b "bold"
<b>$1</b>$0
endsnippet

snippet hl "highlighted <code> block"
<pre><code class="language-$1">$2</code></pre>$0
endsnippet

snippet p "paragraph"
<p>
	$0
</p>
endsnippet
