snippet ktitle Kvarn Chute markdown document with metadata
	!> hide

	<head>
		<title>$1</title>
		<meta name="permalinks" content="${2:not-titles}"> <!-- part of JS on icelk.dev & kvarn.org, options: disabled|enabled|not-titles -->
		<meta name="description" content="$3">
	</head>
	$0
