[Unit]
Description=Backup and snapshot

[Service]
Type=simple
ExecStart=sh -c 'notify-send -a "Backup" "Starting..."; btrbk run; notify-send -a "Backup" Complete!'
