[Unit]
Description=Backup and snapshot

[Service]
Type=simple
ExecStart=sh -c '~/scripts/wait-to-after-boot.fish 40; notify-send -a "Backup" "Starting..."; btrbk run; notify-send -a "Backup" Complete!'
