[Unit]
Description=Starts the clipboard daemon

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-0
ExecStart=sh -c "PATH=~/.cargo/bin:$PATH clipcatd --no-daemon"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
