[Unit]
Description=Dump all installed packages to a file

[Service]
Type=simple
ExecStart=sh -c "~/scripts/dump-packages.sh"

[Install]
WantedBy=default.target

