 [Unit]
 Description=Firefox profile memory cache
 
 [Install]
 WantedBy=default.target
 
 [Service]
 Type=oneshot
 RemainAfterExit=yes
 ExecStart=/home/icelk/scripts/firefox-sync.sh %i
 ExecStop=/home/icelk/scripts/firefox-sync.sh %i
