[Unit]
Description=IMWheel

[Service]
Type=simple
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/imwheel -d -b 45
ExecStop=/usr/bin/pkill imwheel
RemainAfterExit=yes
Restart=always
RestartSec=4

[Unit]
WantedBy=default.target
