[Unit]
Description=View local notes

[Service]
Type=simple
ExecStart=sh -c "set -e; cd ~/dev/Rust/local-viewer && cargo run --no-default-features --features mt,https,kvarn/default & ~/.cargo/bin/kvarn_chute ~/school/; wait"

[Install]
WantedBy=default.target
