[Unit]
Description=Mount nas before Starship is run
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=sh -c "if ping -c 1 -W 1 nas; then mount nas; else exit 0; fi"
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
