[Unit]
Description=Dump all installed packages to a file

[Service]
Type=oneshot
ExecStart=sh -c "~/scripts/packages-dump.sh"

[Install]
WantedBy=default.target
