[Unit]
Description=Composter

[Service]
Type=simple
ExecStart=sh -c "if [ -f ~/build/picom/build/src/picom ]; then ~/build/picom/build/src/picom --experimental-backends; else picom --experimental-backends; fi"
Restart=always
RestartSec=2
