[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=sh -c "set -m; ~/.cargo/bin/spotifyd --no-daemon & sleep 1 && spt pb --transfer Icelk -t && fg"
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
