[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=sh -c "set -m; export PATH=~/.cargo/bin:$PATH; spotifyd --no-daemon & sleep 2 && spt pb --transfer iceTop -t; fg"
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
